#pragma once

#define WIFI_SSID "your-ssid"
#define WIFI_PASS "your-password"
#define NTFY_SERVER "http://your-server:8090"
#define NTFY_BATTERY NTFY_SERVER "/battery"
#define NTFY_BOOT NTFY_SERVER "/boot"
